.input{
    height: 35px;
    width: 300px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    padding-left: 10px;
}
.btn{
    height: 35px;
    width: 300px;
    display: block;
    margin:auto ;
    margin-bottom: 28px;
}

.home{
    margin-top: 5rem;
}
.ul{
    display: flex;
   gap: 10rem;
   text-align: justify;
    list-style: none;
}
.list{
    font-weight: bold;
    border-bottom: 2px solid red;
    
}
.listStyle{
  text-align: left;
}

.main_div{
    background-color: rgb(208, 180, 233);
    padding: 1rem;
    color: rgb(13, 13, 13);
}
.li{
    align-items: left;
   
}

.ul_list{
    display: flex;
    justify-content:space-evenly;
    
}
